.list-table-format{
     display: grid;
     grid-template-columns:1fr 0.5fr 0.5fr 0.5fr 0.5fr;
     align-items: center;
     gap: 10px;
     padding: 12px 15px;
     border: 1px solid #cacaca;
     font-size: 13px;
}
.list-table-format .title{
     background-color: #f9f9f9;
}
.list-table-format img{
     width: 100px;
}
@media (max-width:600px){
     .list-table-format {
          grid-template-columns: 1fr 3fr 1fr;
          gap: 15px;

     }
     .list-table-format .title{
          display: none;
     }
}

.save_cancel{
     display: flex;
     gap: 10px;
}

.custom-button {
     background-color: #ffcccc; /* Light red */
     color: #333; /* Dark text color */
     padding: 4px 9px;
     /* margin-right: 10px; */
     border: none;
     border-radius: 8px; /* Rounded corners */
     cursor: pointer;
     font-size: 16px;
     transition: background-color 0.3s ease;
 }
 
 .custom-button:hover {
     background-color: #ff9999; /* Darker red on hover */
 }

 /* Modal Overlay */
.edit-overlay {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1000; /* Ensure the modal is on top of other content */
   }
   
   /* Modal Box */
   .edit-modal {
     background-color: white;
     padding: 20px;
     border-radius: 8px;
     width: 400px;
     max-width: 100%;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     z-index: 1001; /* Ensure the modal is above the overlay */
   }
   
   /* Modal Title */
   .edit-modal h3 {
     margin-bottom: 20px;
     text-align: center;
   }
   
   /* Input Fields */
   .edit-modal input {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
   
   /* Button Styling */
   .custom-button {
     background-color: #ffcccc; /* Light red */
     color: #333; /* Dark text color */
     padding: 4px 9px;
     border: none;
     border-radius: 8px; /* Rounded corners */
     cursor: pointer;
     font-size: 16px;
     transition: background-color 0.3s ease;
   }
   
   .custom-button:hover {
     background-color: #ff9999; /* Darker red on hover */
   }

   .custom-button-remove {
     background-color: #ff9999; /* Light red */
     color: #333; /* Dark text color */
     padding: 4px 9px;
     border: none;
     border-radius: 8px; /* Rounded corners */
     cursor: pointer;
     font-size: 16px;
     transition: background-color 0.3s ease;
   }
   
   .custom-button-remove:hover {
     background-color: #fb6f6f; /* Darker red on hover */
   }

.edit_remove{
     display: flex;
     flex-direction: column;
     gap: 10px;
}